.notesWrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }
  }

  .noteItem {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
